:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --blue-50: #81b3d2;
  --brown-50: #766357;
  --grey-50: #f2f2f2;
  --grey-120: #eeeeee;
  --grey-300: rgba(171, 171, 171, 0.3);
  --grey-500: #333333;
  --grey-600: rgba(0, 1, 1, 0.15);
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--grey-500);
  text-transform: uppercase;
  background-color: var(--grey-50);
}

.site-nav, .hotel-list, .widgets,.sorting-list, .info-hotel, .features-hotel {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.site-nav {
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden, .advantages-none {
  visibility: hidden;
}

.thesis {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: flex;
}
.thesis-text {
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--grey-500);
}
.color-insert, .advantages-hotel-info, .advantages-hotel-number {
  color: var(--white);
}

.advantages-hotel {
  font-size: 21px;
  display: flex;
  font-weight: bold;
}
.advantages-hotel-info {
  line-height: 21px;
  display: flex;
}
.footer-info {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.developers {
  line-height: 26px;
}

.fack-grey-box {
  background-color: var(--grey-120);
}
.fact-blue-box {
 background-color: var(--blue-50);
}
.features-hotel{
  color: var(--black);
  background-color: var(--white);
  display: flex;
}
.interested {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}
.interested-info {
  line-height: 24px;
}
.button-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  left: 356px;
  top: 2083px;
  background: var(--brown-50);
}
.sorting-list {
  font-size: 12px;
  line-height: 18px;
}
.sorting-info {
  line-height: 26px;
}
.name-hotel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.type-hotel, .price {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-500);
  width: 96px;
  height: 21px;
}
.button-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue-50);
}
.button-info:hover {
  background-color: var(--blue-100);
}

.button-info:active {
  background-color: var(--blue-150);
}

.button-booking {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--brown-50);
}
.button-booking:hover {
  background-color: var(--brown-100);
}

.button-booking:active {
  background-color: var(--brown-150);
  color: var(--transparent-white);
}
.navigation-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.navigation-item a:hover {
  color: var(--blue-50);
}

.navigation-item a:active {
  color: var(--transparent-black);
}

.navigation-item .active,
.navigation-item .active:hover,
.navigation-item .active:focus,
.navigation-item .active:active {
  color: var(--brown-50);
}

.filter-name {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  text-decoration: none;
}

.filter-name:hover {
  color: var(--blue-50);
}

.filter-name:active {
  color: var(--black);
}

.filter-name.active,
.filter-name.active:hover,
.filter-name.active:focus,
.filter-name.active:active {
  color: var(--blue-50);
}
