:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --blue-50: #81b3d2;
  --blue-100: #669ec0;
  --blue-150: #5496bd;
  --brown-50: #766357;
  --brown-100: #604e43;
  --brown-150: #503e33;
  --grey-50: #f2f2f2;
  --grey-100: #ebebeb;
  --grey-120: #eeeeee;
  --grey-150: #e5e5e5;
  --grey-200: #cacaca;
  --grey-250: #ababab;
  --grey-300: rgba(171, 171, 171, 0.3);
  --grey-350: #a9a9a9;
  --grey-380: #888888;
  --grey-400: #666666;
  --grey-450: #6a6a6a;
  --grey-500: #333333;
  --grey-550: #231f20;
  --grey-600: rgba(0, 1, 1, 0.15);
}
.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--grey-500);
  text-transform: uppercase;
  background-color: var(--grey-50);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: auto;
}

.site-nav, .hotel-list, .widgets,.sorting-list, .features-list, .advantages-list {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.site-nav {
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden, .intro-text {
  visibility: hidden;
}

.thesis {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.thesis-text {
  line-height: 26px;
  color: var(--grey-500);
}
.color-insert, .advantages-feature-item, .item-number {
  color: var(--white);
}

.advantages-hotel {
  font-size: 21px;
  font-weight: bold;
}
.advantages-feature-item {
}
.footer-info {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.developers {
  line-height: 26px;
}

.color-grey-fone {
  background-color: var(--grey-120);
}
.color-blue-fone {
 background-color: var(--blue-50);
}
.advantages-list{
  color: var(--black);
  background-color: var(--white);
}
.interested {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}
.interested-info {
  line-height: 24px;
}
.button-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background: var(--brown-50);
}
.sorting-list {
  font-size: 12px;
  line-height: 18px;
}
.sorting-info {
  line-height: 26px;
}
.name-hotel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.type-hotel, .price {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-500);
}
.button-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue-50);
}
.button-info:hover {
  background-color: var(--blue-100);
}

.button-info:active {
  background-color: var(--blue-150);
}

.button-booking {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--brown-50);
}
.button-booking:hover {
  background-color: var(--brown-100);
}

.button-booking:active {
  background-color: var(--brown-150);
  color: var(--transparent-white);
}
.navigation-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.navigation-item a:hover {
  color: var(--blue-50);
}

.navigation-item a:active {
  color: var(--transparent-black);
}

.navigation-item .active,
.navigation-item .active:hover,
.navigation-item .active:focus,
.navigation-item .active:active {
  color: var(--brown-50);
}

.filter-name a {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  text-decoration: none;
}

.filter-name a:hover {
  color: var(--blue-50);
}

.filter-name a:active {
  color: var(--black);
}

.filter-name a.active,
.filter-name a.active:hover,
.filter-name a.active:focus,
.filter-name a.active:active {
  color: var(--blue-50);
}

.name-hotel a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.name-hotel a:hover {
  color: var(--blue-50);
}

.name-hotel a:active {
  color: var(--transparent-black);
}

.name-hotel a.active,
.name-hotel a.active:hover,
.name-hotel a.active:focus,
.name-hotel a.active:active {
  color: var(--brown-50);
}
.button-search {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--brown-50);
}
.button-search:hover {
  background-color: var(--brown-100);
}

.button-search:active {
  background-color: var(--brown-150);
  color: var(--transparent-white);
}
.item-text {
  font-size: 21px;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.background-banner,.welcome-banner{
  grid-column: 1 / -1;
  grid-row: 1 /-1;
  margin: auto;
}
.main-nav {
}
.site-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.main-header-logo {
}

.page-footer {
  display: flex;
  justify-content: space-around;
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  max-width: 100%;
  height: auto;
}
.feature-item {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;

}
.img-home-sedona {
  grid-column: 2 / 4;
}
.advantages-list {
  grid-column: 1 / 4;
}
.img-devil {
  grid-column: 1 / 3;
}

.navigation-item-three{
  grid-column: 4 / 5;
}
.advantages-list {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;
}
.sorting {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.sorting-list {
  display: grid;
  grid-template-columns: 30% 30% 40%;
}
.hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.brief-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}
.name-hotel {
  grid-column: 1 / 4;
}
.button-info {
  grid-column: 1 / 2;
  gap: 5px;
  margin-right: 20px;
}
.social-list {
display: flex;
}
