:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --blue-50: #81b3d2;
  --blue-100: #669ec0;
  --blue-150: #5496bd;
  --brown-50: #766357;
  --brown-100: #604e43;
  --brown-150: #503e33;
  --grey-50: #f2f2f2;
  --grey-100: #ebebeb;
  --grey-120: #eeeeee;
  --grey-150: #e5e5e5;
  --grey-200: #cacaca;
  --grey-250: #ababab;
  --grey-300: rgba(171, 171, 171, 0.3);
  --grey-350: #a9a9a9;
  --grey-380: #888888;
  --grey-400: #666666;
  --grey-450: #6a6a6a;
  --grey-500: #333333;
  --grey-550: #231f20;
  --grey-600: rgba(0, 1, 1, 0.15);
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--grey-500);
  text-transform: uppercase;
  background-color: var(--grey-50);
}

.site-nav, .housing-list, .widgets,.sorting-list, .info-hotel, .hotel-advantages {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.site-nav {
  line-height: 26px;
  font-weight: 700;
}

.visually-hidden, .advantages-none {
  visibility: hidden;
}

.thesis {
  width: 470px;
  height: 80px;
  left: 405px;
  top: 606.5px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}
.thesis-text {
  width: 519px;
  height: 26px;
  left: 380px;
  top: 703px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--grey-500);
}
.color-block, .advantages-hotel-info, .advantages-hotel-number {
  color: var(--white);
}

.advantages-hotel {
  font-size: 21px;
  display: flex;
  font-weight: bold;
}
.advantages-hotel-info {
  line-height: 21px;
  display: flex;
}
.footer-info {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.developers {
  line-height: 26px;
}

.grey {
  background-color: var(--grey-120);
}
.blue {
 background-color: var(--blue-50);
}
.hotel-advantages {
  color: var(--black);
  background-color: var(--white);
  display: flex;
}
.like {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}
.like-info {
  line-height: 24px;
}
.button-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 568px;
  height: 86px;
  left: 356px;
  top: 2083px;
  background: var(--brown-50);
}
.sorting-list {
  font-size: 12px;
  line-height: 18px;
}
.sorting-info {
  line-height: 26px;
}
.name-hotel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.hotel-name {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-500);
  width: 96px;
  height: 21px;
}
.button-info {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue-50);
}

.button-booking {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--brown-50);
}
