:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.3);
  --blue-50: #81b3d2;
  --blue-100: #669ec0;
  --blue-150: #5496bd;
  --brown-50: #766357;
  --brown-100: #604e43;
  --brown-150: #503e33;
  --grey-50: #f2f2f2;
  --grey-100: #ebebeb;
  --grey-120: #eeeeee;
  --grey-150: #e5e5e5;
  --grey-200: #cacaca;
  --grey-250: #ababab;
  --grey-300: rgba(171, 171, 171, 0.3);
  --grey-350: #a9a9a9;
  --grey-380: #888888;
  --grey-400: #666666;
  --grey-450: #6a6a6a;
  --grey-500: #333333;
  --grey-550: #231f20;
  --grey-600: rgba(0, 1, 1, 0.15);
}

.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--grey-500);
  text-transform: uppercase;
  background-color: var(--grey-50);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: auto;
}

.site-nav,
.hotel-list,
.widgets,
.sorting-list, .features-list, .advantages-list, .social-list, .rating-list, .sort-range-list, .filter-list {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.site-nav {
  line-height: 26px;
  font-weight: 700;
  margin-top: 0px;
}

.visually-hidden, .intro-text {
  visibility: hidden;
  position: absolute;
}

.thesis {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.thesis-text {
  line-height: 26px;
  color: var(--grey-500);
}
.color-insert, .advantages-feature-item, .item-number {
  color: var(--white);
}

.advantages-hotel {
  font-size: 21px;
  font-weight: bold;
}

.footer-info {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.developers {
  line-height: 26px;
}

.color-grey-fone {
  background-color: var(--grey-120);
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.color-blue-fone {
  background-color: var(--blue-50);
 align-items: center;
 display: flex;
 flex-direction: column;
}
.advantages-list {
  color: var(--black);
  background-color: var(--white);
}
.interested {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin-top: 56px;
  margin-bottom: 35px;
}
.interested-info {
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 47px;
}
.button-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown-50);
  color: var(--white);
  border: 0;
  padding: 30px 0;
  display: inline-block;
  width: 568px;
  height: 26px;
  text-align: center;
}

.sorting-list {
  font-size: 12px;
  line-height: 18px;
}
.sorting-info {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-right:31px;
}
.sort-range-list {
  display: flex;
  margin: 0px;
}
.name-hotel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}
.hotel-item {
  display: flex;
}
.hotel-type-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6px;
}

.hotel-item-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6px;
}
.type-hotel, .price {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-500);
  margin-bottom: 15px;
}
.button-info {
  width: 110px;
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--blue-50);
  padding: 3px 15px;
  text-align: center;
  color: var(--white);
}
.button-info:hover {
  background-color: var(--blue-100);
}

.button-info:active {
  background-color: var(--blue-150);
}
.button-booking {
  width: 147px;
  height: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--brown-50);
  padding: 3px 15px;
  text-align: center;
  color: var(--white);
}
.button-booking:hover {
  background-color: var(--brown-100);
}

.button-booking:active {
  background-color: var(--brown-150);
  color: var(--transparent-white);
}
.navigation-item a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.navigation-item a:hover {
  color: var(--blue-50);
}

.navigation-item a:active {
  color: var(--transparent-black);
}

.navigation-item .active,
.navigation-item .active:hover,
.navigation-item .active:focus,
.navigation-item .active:active {
  color: var(--brown-50);
}

.filter-name a {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  text-decoration: none;
  margin-top: 2px;
  margin-right: 32px;
}

.filter-name a:hover {
  color: var(--blue-50);
}

.filter-name a:active {
  color: var(--black);
}

.filter-name a.active,
.filter-name a.active:hover,
.filter-name a.active:focus,
.filter-name a.active:active {
  color: var(--blue-50);
}

.name-hotel a {
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.name-hotel a:hover {
  color: var(--blue-50);
}

.name-hotel a:active {
  color: var(--transparent-black);
}

.name-hotel a.active,
.name-hotel a.active:hover,
.name-hotel a.active:focus,
.name-hotel a.active:active {
  color: var(--brown-50);
}

.button-search:hover {
  background-color: var(--brown-100);
}

.button-search:active {
  background-color: var(--brown-150);
  color: var(--transparent-white);
}
.item-text {
  font-size: 21px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 509px;
  background-image: url(../img/welcome-mask-bottom.png), url(../img/bg-background.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 453px ,bottom;
}
.background-banner,.welcome-banner{
}
.main-nav {
}
.site-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.main-header-logo {
  position: absolute;
  margin-left: 500px;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
}
.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.feature-item {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;

}
.img-home-sedona {
  grid-column: 2 / 4;
}
.advantages-list {
  grid-column: 1 / 4;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;

}
.img-devil {
  grid-column: 1 / 3;
}

.navigation-item-three{
  grid-column: 4 / 5;
}
.advantages-list {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: 1fr 1fr 1fr;
}
.sorting {
background-color: var(--white)
}
.sorting-list {
  display: flex;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  margin-left: 45px;
}
.sorting-text {
  font-size: 12px;
  line-height: 18px;
  margin-top: 2px;
  margin-right: 32px;
}
.name-hotel {
  grid-column: 1 / 4;
}
.button-info {
  grid-column: 1 / 2;
  gap: 5px;
  margin-right: 20px;
  color: var(--white);
}
.social-list {
display: flex;
}
.advantages-wrapper {
  width: 520px;
  margin: 48px auto;
}
.wrapper{
  background-color:var(--white);
}
.advantages {
  text-align: center;
  background-color: var(--white);
}
.feature-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 330px;
}

.search-main {
  text-align: center;
}
.social-item {
  width: 46px;
  height: 48px;
  display: flex;
  background-color: var(--blue-150);
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6px;
}
.developers-item {
  font-size: inherit;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-right: 73px;
}
.hotel-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.hotel {
  display: flex;
  border-bottom: 1px solid var( --grey-150);
  padding: 30px 73px;
}
.brief-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 29px;
  flex-grow: 1;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 150px;
}
.rating-list {
  display: flex;
  padding: 0;
}
.reting-text {
  background-color:silver;
  width: 110px;
  height: 27px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.sort-range-list {
  display: flex;
}
.sorting-list-item {
  display: flex;
  padding: 32px 73px;
}
.filter {
  border: none;
  display: flex;
}

.filter-unit {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--white);
}
.filters-form {
  background-image: url(../img/bg-hotel.png);
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter-form {
  color: var(--white);
}
.text-item, .advantages-feature-item {
  padding-left: 40px;
  padding-right: 40px;
}
.search-block {
  background-color: var(--white);
  margin: 0 315px;
  width: 568px;
}
.block-form {
  padding: 55px;
}
.search-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.search-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: left;
}
.filter-text {
  margin-bottom: 23px;
}
.filter-list {
  padding: 0;
}
.form-container {
  width: 568px;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
}

.search-form {
  width: 458px;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.form-field:last-of-type {
  margin-bottom: 54px;
}

.search-form-label,
.search-form-input,
.search-form-input::placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.search-form-label {
  display: block;
}

.search-form-input {
  color: inherit;
  background-color: var(--grey-50);
  border: none;
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  padding: 0;
}

.search-form-input-small {
  width: 114px;
}

.search-form-input:hover {
  background-color: var(--grey-450);
  border: none;
}

.search-form input:focus {
  background-color: var(--white);
  outline: 2px solid #E5E5E5;
  outline-offset: -2px;
}

.find-button {
  display: block;
  width: 100%;
  padding: 16px 0;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--blue-50);
  border: none;
}

.filter-input {
  clip-path: inset(100%);
}
.bar {
  width: 80%;
  margin-left: 0%
}
.range-filter {
  width: 317px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--white);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--gray);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--gray);
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--white);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  height: 36px;
  border: 2px solid var(--white);
  border-radius: 2px;
}

.price-controls label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 50%;
  position: relative;
}

.min-price::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 2px;
  height: 22px;
  background-color: var(--white);
}

.price-controls input {
  background-color: transparent;
  border: 0;
  color: var(--white-color);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 50%;
  margin-left: 5px;}
